= image_tag(asset_pack_path("images/email_send.png"), class: 'mx-auto d-block img-fluid')

.text-center
  %h4 We sent a message with a confirmation link to your email address. Please follow the link to activate your account.
