%h1.about-us-main-title.text-center But I must explain to you how all this mistaken idea of denouncing pleasure and praising
%p.about-us-main-text.text-center
  But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
  I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
  the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
  but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
  Nor again is there anyone who
.container
  = image_tag(asset_pack_path("images/welcome_about_us_main.jpg"), class: 'about-us-main-image')
%h3.about-us-count-title.text-center.mt-5 00,000 users use Socket Chat and they do it for free
.container
  .row
    .col-12.col-md-4
      .text-center
        .about-us-count-text-title
          0M
        .about-us-count-text-desc
          Lorem ipsum dolor sit amet
    .col-12.col-md-4
      .text-center
        .about-us-count-text-title
          00
        .about-us-count-text-desc
          Lorem ipsum dolor sit amet
    .col-12.col-md-4
      .text-center
        .about-us-count-text-title
          000K
        .about-us-count-text-desc.mt-0
          Lorem ipsum dolor sit amet
= render 'layouts/footer'

