%h1.about-us-main-title.text-center But I must explain to you how all this mistaken idea of denouncing pleasure and praising
%p.about-us-main-text.text-center
  But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and
  I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth,
  the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
  but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
  Nor again is there anyone who
.container
  = image_tag(asset_pack_path("images/welcome_about_us_main.jpg"), class: 'about-us-main-image')
%h3.about-us-count-title.text-center.mt-5 00,000 users use Socket Chat and they do it for free
.container
  .row
    .col-12.col-md-4
      .text-center
        .about-us-count-text-title
          0M
        .about-us-count-text-desc
          Lorem ipsum dolor sit amet
    .col-12.col-md-4
      .text-center
        .about-us-count-text-title
          00
        .about-us-count-text-desc
          Lorem ipsum dolor sit amet
    .col-12.col-md-4
      .text-center
        .about-us-count-text-title
          000K
        .about-us-count-text-desc.mt-0
          Lorem ipsum dolor sit amet
.about-us-text-picture-top.mt-5.pt-5
  .container
    .row
      .d-none.d-md-block.col-md-6
        .about-us-text-picture-top-title
          But I must explain to you how
        .about-us-text-picture-top-desc
          No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
          but because those who do not know how to pursue pleasure rationally encounter consequences
          that are extremely painful. Nor again is there anyone who loves or pursues or desires
          to obtain pain of itself, because it is pain, but because occasionally circumstances occur
          in which toil and pain can procure him some great pleasure.
        .about-us-text-picture-top-desc.about-us-text-picture-top-desc-link-text
          %span
            %a{:href => "#"} To take a trivial example,
          which of us ever undertakes laborious physical exercise,
          except to obtain some advantage from it?
        .about-us-text-picture-top-desc.about-us-text-picture-top-desc-link-text.mt-2
          %span
            %a{:href => "#"} But who has any right
          to find fault with a man who chooses to enjoy a pleasure
          that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
      .d-none.d-md-block.col-md-6
        = image_tag(asset_pack_path("images/welcome_about_us_text_img_top.svg"), class: 'about-us-text-top-image')
      .d-block.d-md-none.d-lg-none.d-xl-none
        = image_tag(asset_pack_path("images/welcome_about_us_text_img_top.svg"), class: 'about-us-text-top-image')
      .d-block.d-md-none.d-lg-none.d-xl-none
        .container
          .about-us-text-picture-top-title
            But I must explain to you how
          .about-us-text-picture-top-desc
            No one rejects, dislikes, or avoids pleasure itself, because it is pleasure,
            but because those who do not know how to pursue pleasure rationally encounter consequences
            that are extremely painful. Nor again is there anyone who loves or pursues or desires
            to obtain pain of itself, because it is pain, but because occasionally circumstances occur
            in which toil and pain can procure him some great pleasure.
          .about-us-text-picture-top-desc.about-us-text-picture-top-desc-link-text
            %span
              %a{:href => "#"} To take a trivial example,
            which of us ever undertakes laborious physical exercise,
            except to obtain some advantage from it?
          .about-us-text-picture-top-desc.about-us-text-picture-top-desc-link-text.mt-2
            %span
              %a{:href => "#"} But who has any right
            to find fault with a man who chooses to enjoy a pleasure
            that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"
.about-us-text-picture-bottom
  .container
= render 'layouts/footer'

