@import url(https://fonts.googleapis.com/css?family=Kreon);
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "auth";
@import "header";
@import "chat_room";
@import "footer";
@import "main";

.test-class {
  color: white;
  font-size: xx-large;
}