$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import "variables";
@import "header";
@import "footer";
@import "fonts";
@import "welcome_index";
@import "contacts";
