.auth-page-content {
  background-color: #F5F5F5;
}

.auth-head-text {
  font-weight: bolder;
  color: #424242;
  margin-top: 75px;
}

#new_user {
  text-align: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  float: none;
  border: 1px solid #EEEEEE;
}

.edit-user {
  text-align: center;
  border-radius: 14px;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.auth-input {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: black;
  border: 1px solid gray;
  border-radius: 3px;
}

.auth-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gray;
}

.auth-input::-moz-placeholder { /* Firefox 19+ */
  color: gray;
}

.auth-input:-ms-input-placeholder { /* IE 10+ */
  color: gray;
}

.auth-input:-moz-placeholder { /* Firefox 18- */
  color: gray;
}

.auth-submit {
  margin-top: 5px;
  margin-bottom: 45px !important;
  height: 40px;
  font-weight: bolder !important;
  font-size: large !important;
}

.pwd-tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: 36%;
  left: 50%;
  margin-left: -60px;
  width: 160px;
  background-color: #E0E0E0;
  color: #616161;
  font-weight: bolder;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  transition:opacity 0.4s linear;
}

input[id="sign-up-pwd-input"]:focus + .pwd-tooltip-text{
  visibility: visible;
  opacity:1;
}

.auth-links {
  margin-top: 10px;
  font-size: 14pt;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  #new_user {
    width: 290px;
  }
  .edit-user {
    width: 290px;
  }
  .auth-input {
    width: 280px;
  }
  .auth-submit {
    width: 280px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #new_user {
    width: 450px;
  }
  .edit-user {
    width: 450px;
  }
  .auth-input {
    width: 280px;
  }
  .auth-submit {
    width: 280px;
  }
}

#login-input {
  margin-top: 15px;
}

.remember-me {
  color: white;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 280px;
  margin-bottom: 10px !important;
  background-color: #EEE;

}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-file:hover {
  background: #E0E0E0;
}

#p-sign-up-avatar {
  margin-bottom: 0px !important;
  font-weight: bolder;
  font-size: large;
}

#p-profile-avatar {
  margin-bottom: 0px !important;
  font-weight: bolder;
  font-size: large;
}

#sign-up-username-input {
  margin-top: 50px !important;
}

#login-input {
  margin-top: 50px !important;
}
