#contacts-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.user-item {
  background-color: #9fcdff;
  height: 60px;
}

.user-avatar {
  width: 20px;
  height: 20px;
}

.user-display-name {

}
