.header-main-navbar {
  border-radius: 0px !important;
  margin-bottom: 0px;
}

.company-name {
  font-weight: 300;
  font-size: x-large;
  font-family: 'Kreon', serif;
}

.header-menu-item {
  font-family: 'Kreon', serif;
  font-weight: bolder;
}
