.sign-up-left {
  h1 {
    word-wrap: break-word;
    letter-spacing: -1px;
    font-size: 42px;
  }
}

#chat-logo {
  a {
    color: black;
  }
}


.sign-up-right {
  height: 100vh;
  background-color: #2cc1da;
}

.find-workspace {
  color: white;
  h5 {
    font-family: Slack-Lato,appleLogo,sans-serif;
  }
  span {
    padding-right: 1rem;
  }
}
