.about-us-main-title {
  font-size: 2.75rem;
  font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
  letter-spacing: normal;
  font-weight: bolder;
  color: #323648;
  margin-left: auto;
  margin-right: auto;
  min-width: 675px;
  max-width: 675px;
  margin-top: 5rem;
}

.about-us-main-text {
  font-size: 1.25rem;
  font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
  letter-spacing: normal;
  color: #5b5e6d;
  min-width: 685px;
  max-width: 685px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.about-us-main-image {
  width: 100%;
  height: auto;
}

.about-us-count-title {
  font-family: "Times New Roman",Georgia,serif;
  color: #323648;
  letter-spacing: normal;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  min-width: 385px;
  max-width: 385px;
}

.about-us-count-text-title {
  color: $welcome-link-button-background;
  font-family: "Times New Roman",Georgia,serif;
  font-weight: 700;
  font-size: 5.5rem;
}

.about-us-count-text-desc {
  color: #5b5e6d;
  font-family: appleLogo,sans-serif;
}

@media only screen and (max-width : 767px) {
  .about-us-main-title {
    letter-spacing: normal;
    font-weight: bolder;
    min-width: 0px;
    max-width: 767px;
  }

  .about-us-main-text {
    letter-spacing: normal;
    min-width: 0px;
    max-width: 767px;
  }

  .about-us-main-image {
    width: 100%;
    height: auto;
  }

  .about-us-count-title {
    min-width: 0px;
    max-width: 385px;
  }
}