.welcome_main_index{
  width: 100%;
  height: auto;
}

.welcome-page-index {
  padding-top: 9rem;
  padding-bottom: 4rem;
  position: relative;
}

.welcome-index-main-title {
  font-size: 4.8rem;
  font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
  line-height: 1.05;
  letter-spacing: normal;
  margin-bottom: 2rem;
  margin-top: 0;
  margin-left: 0;
  font-weight: bolder;
  color: #323648;
}

.welcome-index-main-text {
  color: #5b5e6d;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-get-started {
  color: #fff;
  background-color: $welcome-link-button-background;
  border-color: $welcome-link-button-background;
  font-size: .875rem;
  width: 172px;
  height: 57px;
  font-weight: bold;
}

.display-as-mini {
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: normal;
  margin-bottom: 1rem;
  color: #5b5e6d;
  font-size: .875rem;
  margin-top: 15px;

  a {
    color: $welcome-link-button-background;
  }
}

.welcome-index-lighter-gray {
  background-color: #f5f5f5;
}

.welcome-index-section2 {
  overflow: hidden;
  padding: 3rem 0;
  border-top: 1px solid #ebebeb;
  text-align: center;
}

.welcome-index-section2-title {
  font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
  line-height: 1.2;
  letter-spacing: normal;
  font-size: 2.1rem;
  margin-bottom: 1rem;
  color: #323648;
  font-weight: bolder;
}

.u-margin-bottom--x-large {
  margin: 0;
  margin-bottom: 1rem;
  color: #5b5e6d;
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 1rem;
}

.btn-discover-why {
  color: $welcome-link-button-background-active;
  background-color: #fff;
  fill: $welcome-link-button-background-active;
  border-color: $welcome-link-button-background;
  font-size: .875rem;
  width: 172px;
  height: 57px;
  font-weight: bold;
  border-bottom: 1px solid $welcome-link-button-background;
}

.btn-discover-why:active {
  background-color: $welcome-link-button-background-active;
  color: white;
}

.btn-discover-why:focus{
  background-color: $welcome-link-button-background-active;
  color: white;
}

.welcome-index-logo-item {
  border-right: 1px solid #ebebeb;
  margin-bottom: 0!important;
  margin-right: 0!important;
  padding: 2rem;
  text-align: center;
  min-height: 110px;
  width: 100%;
  height: 160px;

  img {
    border: 0;
    max-width: 100%;
    height: auto;
  }
}

.welcome-index-logo-item-right-top {
  border-bottom: 1px solid #ebebeb;
}

.welcome-index-bottom-logo {
  border-bottom: none !important;
}

.container-with-images {
  margin-top: 30px;
}

.welcome-index-logo-item-bottom {
  border-bottom: 1px solid #ebebeb;
}

.welcome-index-logo-item-bottom-without-line {
  border-right: 0;
}

.padding-index {
  padding-bottom: 25px;
  padding-top: 50px;
  border-bottom: 1px solid #ebebeb;
}

.welcome-index-try-free {
  font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
  font-weight: 900;
  line-height: 1.45;
  letter-spacing: normal;
  color: #323648;
}

.welcome-index-signup-content {
  color: #323648;
  font-size: 1rem;
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;

  a {
    color: $welcome-link-button-background;
  }
}

.fa-comment-logo {
  font-size: 6em;
}

.welcome-nav-footer-list {
  list-style: none;
  margin: 0;
  color: #5b5e6d;
  font-size: 1rem;
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  padding-left: 0;
}

.container-foot-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.welcome-nav-footer-list-header {
  font-size: .950rem;
  font-family: Gill Sans, sans-serif;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #6d6f7b;
}

.welcome-nav-footer-list-item {
  padding: .30rem 0;

  a {
    color: #6d6f7b;
    font-family: Gill Sans, sans-serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: .875rem;
  }
}

@media only screen and (max-width : 575px) {
  .welcome-index-bottom-logo {
    border-bottom: 1px solid #ebebeb !important;
  }
}