.row
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    .container-fluid
      %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo03", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarTogglerDemo03", "data-bs-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => "#"} Rails Chat
      #navbarTogglerDemo03.collapse.navbar-collapse
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            %a.nav-link.active{"aria-current" => "page", :href => "#"} Home
          %li.nav-item
            %a.nav-link{:href => "#"} Link
          %li.nav-item
            %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
        .d-flex
          - if user_signed_in?
            = link_to('Edit account', edit_user_registration_path, method: :get, class: 'form-control me-2')
        .d-flex
          - if user_signed_in?
            = link_to('Logout', destroy_user_session_path, method: :delete, class: 'form-control me-2')
