%nav.navbar.navbar-default.header-main-navbar
  .container
    .navbar-header
      .navbar-brand.company-name
        %i.fa.fa-comment
        Socket Chat
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - unless user_signed_in?
          %li
            = link_to 'About', about_path, class: 'header-menu-item', id: 'header-about'
          %li
            = link_to new_user_registration_path, class: 'header-menu-item', id: 'header-sign-up' do
              %i.glyphicon.glyphicon-user
              Sign Up
          %li
            = link_to new_user_session_path, class: 'header-menu-item', id: 'header-login' do
              %i.glyphicon.glyphicon-log-in
              Login
